<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% block title %}  {% endblock %}</title>

        {% block stylesheets %} {% endblock %}

        {% block javascripts %} {% endblock %}

        {% block head %} {% include ('admin/head.html.twig') %} {% endblock %}

    </head>
    <body class="content-wrapper">
        {% block header %} {% include ('admin/header.html.twig')%} {% endblock %}

        {% block sidebar %} {% include ('admin/sidebar.html.twig')%} {% endblock %}

        {% block body %}  {% endblock %}

        {% block footer %} {% include ('admin/footer.html.twig')%} {% endblock %}
    </body>
</html>
